.downarrow {
    position: absolute;
    top: calc(100vh - 55px);
    left: calc(50% - 20px);
    animation: jumpInfinite 1s infinite;
}
  
.downarrow:after {
    content: " ";
    position: absolute;
    top: 4px;
    left: -8px;
    width: 12px;
    height: 12px;
    border-bottom: 4px solid;
    border-right: 4px solid;
    border-radius: 4px;
    transform: rotateZ(45deg);
}

@keyframes jumpInfinite {
    10% {
      margin-top: 0;
    }
    50% {
      margin-top: 8px;
    }
    90% {
      margin-top: 0px;
    }
  }